admin-menu {
	position: absolute;
	top: 50px;
	left: -200px;
	width: 300px;
	transition: 1s left;
	z-index: 50;
	box-shadow: 4px 4px 2px #888888;
	border-radius: 4px;
}
.list-group {
	margin-bottom: 0px;
}
.list-group > .panel {
	margin-bottom: 0px;
}
admin-menu:hover {
	left: 50px;
}
