<div>
	<div class="list-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Administration <a ng-click="refreshMenu()"><span class="glyphicon glyphicon-refresh"></span></a></h4>
			</div>
			<div class="panel-body">
				<accordion close-others="true">
					<accordion-group heading="{{adminMenuGroup.heading}}" ng-repeat="adminMenuGroup in adminMenuGroups">
						<ul class="nav nav-pills nav-stacked">
							<li>
								<a ng-href="#{{menuItem.href}}" ng-repeat="menuItem in adminMenuGroup.submenuItems">{{menuItem.name}}</a>
							</li>
						</ul>
					</accordion-group>
				</accordion>
			</div>
		</div>
	</div>
</div>
